# Make sure all your apps are setup/compatible with Base URL's and have all their settings configured to work with reverse proxies
# Make sure to change the port #'s to match your apps especially if there not the default ones
# I used a "rewrite" directive for NZBHydra + PlexRequests since they require a trailing "/"
# Included FastCGI code.... revised and should make things easier for Windows users
# Also this config includes a lot of extra code that isn't necessarily required so omit the things you don't want or care about

# Edit 2: Looks like Caddy is deprecating "proxy_header" directives and moving to "header_upstream" & "header_downstream" instead
#         New code should work with Caddy v0.9+
#         Replaced old "proxy_header" code with new "transparent" preset which inherently includes the following directives:
#               header_upstream Host {host}
#               header_upstream X-Real-IP {remote}
#               header_upstream X-Forwarded-For {remote}
#               header_upstream X-Forwarded-Proto {scheme}
#         I also included "header_upstream X-Forwarded-Host {host}" directive since my instance of Plexpy needs it to load properly
#         this added directive might not be needed for each app

# Edit 3: Added code to get Glances monitoring tool working with Caddy and also a way to secure it with the "basicauth" directive

# Edit 4: Added code at bottom to serve the apps over localhost on port 80

# Edit 5: Getting PHP up and running on Windows is super simple now that Caddy can start the php-cgi server itself
#         You basically just need to download PHP and put the folder in Caddy's root directory and use the new code and that's it
#         http://windows.php.net/download/

# Edit 6: Added Emby location and web addresses to each app

# Edit 7: Added Deluge location (Optimized the rewrite statement + fixed code so it would work over domain and localhost)

# Edit 8: Cleaned up Deluge code to make it less ubiquitous and less reliant on domain/localhost

# Edit 9: Added rewrite code to deal with 404 error when trying to load glances.png

# Edit 10: Someone found a simpler way to get Deluge working on the Caddy Forums

# Edit 11: Removed the extra "header_upstream X-Forwarded-Host {host}" code from every location except Plexpy!

####################################################### Code starts below ########################################################

hailhydra.dk {

    ext .html .htm .php
    root /var/www/html                    # Windows location, change it to where the html root is on your system/OS

    # Gzip will compress files to speedup/minimize the size of data transferred but not 100% necessary

    gzip {
        min_length  256
        level       5
    }

    tls danielebongiovanni@outlook.com      # Email for Let's Encrypt Verification

    # Having logs enabled can provide useful information about your setup but not 100% necessary

    log /caddy/access.log {
    rotate {
        size 20         # Rotate after 20 MB
        age  7          # Keep log files for 7 days
        keep 2          # Keep at most 2 log files
        }
    }

    # This errors block is great when first testing out your setup but not needed and can be omitted entirely

    errors {
    log /caddy/error.log {
        size 20         # Set max size 20 MB
        age  7          # Keep log files for 7 days
        keep 2          # Keep at most 2 log files
        500 50x.html    # Internal Server Error page - create this yourself or delete this line since it's not included with Caddy
        }
    }

    # This header block below will provide you with some extra security, not 100% necessary but better safe then sorry

    header / {
        X-Content-Type-Options nosniff
        X-XSS-Protection "1; mode=block"
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        -Server
    }

    # You can normally use "127.0.0.1" or "localhost", use "Host IP" if your running the web server on different machine

    proxy /sabnzbd http://localhost:9095 {
        transparent
    }

    proxy /headphones http://127.0.0.1:8181 {
        transparent
    }

    proxy /sonarr http://127.0.0.1:8989 {
        transparent
    }

    proxy /plexpy http://127.0.0.1:8182 {
        transparent
        header_upstream X-Forwarded-Host {host}
    }

    proxy /couchpotato http://127.0.0.1:5050 {
        transparent
    }

    # The rewrite below adds the trailing "/" so you don't have to

    # The rewrite below adds the trailing "/" so you don't have to

    rewrite /plexrequests /plexrequests/
    proxy /plexrequests http://127.0.0.1:3579 {
        transparent
    }

    # The rewrite makes sure all of glances sub directory calls are proxied from domain to host

    rewrite {
        if_op or
        if {>Referer} has /css/style.css
        if {>Referer} has /glances
        to /glances/{path}
    }

    # The code below gives you a tiny level of security requiring a username/password before Caddy will let you connect to it

#    basicauth /glances Username Password
#
#    proxy /glances http://127.0.0.1:61208 {         # https://github.com/nicolargo/glances
#        without /glances
#        transparent
#    }

    # The rewrite makes sure all of deluges sub directory calls are proxied from domain to host

    proxy /deluge http://127.0.0.1:8112 {
        without /deluge
        transparent
        header_upstream X-Deluge-Base "/deluge"
    }

    # The new code below will startup the server & proxy PHP requests

    startup /caddy/php/php-cgi -b 127.0.0.1:9000 &
    fastcgi / 127.0.0.1:9000 php {
        index index.php
    }

}